{
    "singleQuote": true,
    "semi": true,
    "printWidth": 150,
    "trailingComma": "es5",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.{js,ts,jsx,tsx,json,html,scss,css}"
        }
    ]
}
